{% extends "base.html" %}
{% load i18n %}

{% block title %}Verificá tu Email{% endblock %}

{% block content %}
<div class="container py-5 mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-7">
            <div class="card bg-dark text-white shadow-lg" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    <h2 class="font-heading mb-4">Verificá tu Dirección de Email</h2>

                    <p class="text-white-50">
                        Te enviamos un correo de verificación. Seguí el enlace para finalizar el proceso de registro. Si no ves el correo en tu bandeja de entrada, revisá tu carpeta de spam. Por favor, contactanos si no recibís el correo en unos minutos.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}