{% extends "base.html" %}

{% block seo %}
<title>Proveedores VIP para Restaurantes | JS Asesoría</title>
<meta name="description" content="Accedé a nuestra red exclusiva de proveedores para gastronomía. Calidad garantizada, precios competitivos y socios estratégicos para tu crecimiento.">
{% endblock seo %}

{% block content %}
<div class="fullscreen-container">
    <div class="row g-0" style="height: 100%; width: 100%;">
        <div class="col-md-6 scrollable-column">
            <div class="text-content-wrapper">
                <h1 class="text-center mb-4">Accedé a Nuestra Red de Proveedores VIP</h1>
                <p>En el éxito de un negocio gastronómico, la calidad de los insumos y servicios es fundamental. Por eso, hemos construido una red exclusiva de proveedores VIP, seleccionados rigurosamente por su excelencia, confiabilidad y compromiso.</p>
                
                <h2 class="h3">Beneficios de nuestra red:</h2>
                <ul>
                    <li><strong>Calidad Garantizada:</strong> Accede a los mejores productos del mercado, desde ingredientes frescos hasta equipamiento de última generación.</li>
                    <li><strong>Precios Competitivos:</strong> Obtené condiciones preferenciales y precios exclusivos que optimizarán tus costos.</li>
                    <li><strong>Confiabilidad y Puntualidad:</strong> Trabajá con proveedores que entienden la dinámica de tu negocio y cumplen con los plazos de entrega.</li>
                    <li><strong>Innovación Constante:</strong> Descubrí nuevos productos y tendencias que te permitirán diferenciarte de la competencia.</li>
                    <li><strong>Relaciones a Largo Plazo:</strong> Construí alianzas estratégicas con proveedores que se convertirán en socios de tu crecimiento.</li>
                </ul>
                
                <h3 class="text-center mt-4 h4">Llevá tu negocio al siguiente nivel con los mejores aliados. ¿Quieres saber más?</h3>
                <div class="text-center mt-3">
                    <button type="button" class="btn btn-gold" data-bs-toggle="modal" data-bs-target="#contactModal">
                        Contacto
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 fixed-column">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/yH_3S9mUTJE?si=EZPGJU3iu754s2nX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}
