{% extends "base.html" %}

{% block seo %}
<title>Invertir en Gastronomía | JS Asesoría</title>
<meta name="description" content="Convertí tu visión en un negocio gastronómico exitoso. Te guiamos en cada paso: modelo de negocio, ubicación, menú, operaciones y marketing.">
{% endblock seo %}

{% block content %}
<div class="fullscreen-container">
    <div class="row g-0" style="height: 100%; width: 100%;">
        <div class="col-md-6 scrollable-column">
            <div class="text-content-wrapper">
                <h1 class="text-center mb-4">Hazte parte del mundo de la gastronomía</h1>
                <p>El mundo de la gastronomía es una aventura apasionante y llena de oportunidades. Si sueñas con tener tu propio negocio o buscas una inversión rentable, estás en el lugar correcto. Mi misión es ayudarte a convertir tu visión en una realidad exitosa, guiándote con seguridad en este competitivo sector.</p>
                
                <h2 class="h3">¿En qué puedo ayudarte?</h2>
                <ul>
                    <li><strong>Modelo de Negocio:</strong> Creamos un plan de negocios sólido y rentable para tu proyecto.</li>
                    <li><strong>Ubicación Ideal:</strong> Te ayudo a encontrar el local perfecto, analizando mercado y competencia. <em>(Próximamente: locales en alquiler).</em></li>
                    <li><strong>Menú y Costos:</strong> Diseñamos un menú atractivo y rentable, optimizando costos.</li>
                    <li><strong>Operaciones Eficientes:</strong> Implementamos flujos de trabajo eficientes para un servicio de alta calidad.</li>
                    <li><strong>Marca y Marketing:</strong> Construimos una marca memorable y una estrategia para atraer y fidelizar clientes.</li>
                    <li><strong>Escalabilidad:</strong> Trazamos un plan de crecimiento a largo plazo para tu negocio.</li>
                </ul>
                
                <h3 class="text-center mt-4 h4">Da el primer paso hoy. Hablemos sobre tu idea.</h3>
                <div class="text-center mt-3">
                    <button type="button" class="btn btn-gold" data-bs-toggle="modal" data-bs-target="#contactModal">
                        Contacto
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 fixed-column">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/Nbo4qT-OrRc?si=NvzRPpwAp2NIIvBt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}

