{% extends "base.html" %}
{% load i18n %}
{% load i18n %}

{% block title %}{% trans "Enlace Enviado" %}{% endblock %}

{% block content %}
<div class="container py-5 mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card bg-dark text-white shadow-lg" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    <h2 class="font-heading mb-4">{% trans "Enlace de Reseteo Enviado" %}</h2>

                    <p class="text-white-50 mb-4">
                        Te enviamos un correo electrónico. Si no lo recibiste, por favor, revisá tu carpeta de spam. Contactanos si no lo recibís en unos minutos.
                    </p>

                    <div class="d-grid gap-2">
                        <a href="{% url 'account_login' %}" class="btn btn-outline-gold">{% trans "Volver a Inicio" %}</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}